{
  deps,
  [
    {meck, ".*", {git, "git://github.com/eproxus/meck.git"}},
    {proper, ".*", {git, "git://github.com/manopapad/proper.git"}}
  ]
}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","**/*.orig","**/*.bak*"]}.

{port_env, [{"LDFLAGS", "$LDFLAGS -lssl -lcrypto"}]}.
{port_specs, [{"priv/ocb128_crypto_port_nif.so", ["c_src/*.c"]}]}.

{cover_enabled, true}.

{cover_print_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_warnings, true}.
{xref_checks, [undefined_function_calls]}. %[exports_not_used, undefined_function_calls]
