{erl_opts,
  [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}
  ]
}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"},
   {clean, "rm -rf *~ */*~ */*.xfm test/*.beam priv/*.so"}]}.

{edoc_opts, [{dir, "./docs"}]}.

{deps,[]}.

{relx,
  [
    {release,
      {erlmur, "0.1.0"},
      [
        lager,
        sasl
      ]
    },
    %{sys_config, "./config/sys.config"},
    %{vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
  ]
}.

{profiles,
  [
    {test,
      [
        {deps,
          [
            {meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
            {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
          ]
        }
      ]
    },
    {prod,
      [
        {relx,
          [
            {dev_mode, false},
            {include_erts, false}
          ]
        }
      ]
    }
  ]
}.
